---
import getThumbnail from "./getThumbnail";
import { Image } from "astro:assets";
interface Props {
  title: string;
  url: string | null;
  type: string;
}

const { title, type, url } = Astro.props;

const thumbnail = await getThumbnail(type, url);
const furl = url ? new URL(url) : "#";
---

<a
  class="group relative sm:h-[108px] flex flex-col sm:flex-row rounded-xl overflow-hidden shadow-lg border border-slate-200/50"
  href={url}
>
  <div class="flex-shrink-0 relative z-1">
    {<Image
      class="w-full sm:w-[192px] h-full object-cover bg-black"
      src={thumbnail as any}
      alt={title}
      width={512}
      height={288}
    />}
  </div>
  <div class="flex-grow relative flex-grow">
    {<Image
      class="absolute top-0 left-0 object-cover w-full h-full z-[-1] select-none group-hover:scale-105 transition-transform duration-500"
      src={thumbnail as any}
      alt={title}
      width={512}
      height={288}
      loading="lazy"
    />}
    <div
      class="h-full bg-white/90 group-hover:bg-white/80 transition-colors duration-300 py-2 px-6 flex flex-col justify-between"
      style={{ backdropFilter: "blur(2px)" }}
    >
      <p class="text-slate-700 break-all text-lg line-clamp-2">{title}</p>
      <p class="mt-2 flex-shrink-0 font-mono text-xs text-slate-500">{furl}</p>
    </div>
  </div>
</a>
