---
import getThumbnail from "./getThumbnail";
import pseudoThumbnail from "../images/pseudo_thumbnail.jpg";
import { Image } from "astro:assets";
interface Props {
  title: string;
  url: string | null;
  type: string;
}

const { title, type, url } = Astro.props;

const thumbnail = await getThumbnail(type, url);
const furl = url ? new URL(url) : "#";
---

<a
  class="group relative h-[108px] flex rounded-xl overflow-hidden shadow-lg border border-slate-200/50"
  href={url}
>
  <div class="relative z-1">
    {<img
      class="w-[192px] h-full object-cover bg-black"
      src={thumbnail ? thumbnail : pseudoThumbnail}
      alt={title}
      width={192}
      height={108}
      loading="lazy"
      decoding="async"
    />}
  </div>
  <div class="relative flex-grow overflow-hidden">
    {<img
      class="absolute top-0 left-0 object-cover w-full h-full z-[-1] select-none group-hover:scale-110 transition-transform duration-500"
      src={thumbnail ? thumbnail : pseudoThumbnail}
      alt={title}
      width={512}
      height={288}
      loading="lazy"
      decoding="async"
    />}
    <div
      class="absolute inset-0 bg-white/90 group-hover:bg-white/95 transition-colors duration-300 py-4 px-8 flex flex-col"
      style={{ backdropFilter: "blur(2px)" }}
    >
      <p class="flex-grow text-slate-700 break-all text-lg">{title}</p>
      <p class="mt-2 flex-shrink-0 font-mono text-xs text-slate-500">{furl}</p>
    </div>
  </div>
</a>
